# Unreal Engine build folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.suo
*.user
*.userprefs
*.sln.docstates
*.VC.db
*.VC.opendb
*.sdf
*.opensdf

# Xcode
*.xcodeproj
*.xcworkspace
